html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
#game {
    /*display: none;*/
    height: 100%;
}
#game-window {
    position: relative;
    width: 700px;
    height: 100%;
    margin: 0 auto;
    background-image: url('../img/road-template.png');
    background-size: 700px;
    background-repeat: repeat-y;
    background-position: 0px 0px;
}
#car {
    position: absolute;
    z-index: 9999999;
    bottom: 30px;
    right: 57px;
    width: 90px;
    height: 190px;
    background: url('../img/car-top-view-hi.png');
    background-repeat: no-repeat;
    background-size: 90px;
}