html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
#game {
    /*display: none;*/
    height: 100%;
}
#game-window {
    position: relative;
    width: 700px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('../img/road-template2.png');
    background-size: 700px;
    background-repeat: repeat-y;
    background-position: 0px 0px;
}
#car {
    position: absolute;
    z-index: 9999999;
    bottom: 10px;
    left: 43.5%;
    width: 100px;
    height: 215px;
    background: url('../img/car1.png');
    background-repeat: no-repeat;
    background-size: 100px;
}

.obstacle {
    position: absolute;
}